@model IEnumerable<prjonlineorder.Models.TableA>

@{
    ViewData["Title"] = "Accounting";
}

<h1>訂單系統</h1>
<br>
<div class="text-right">
    <a asp-action="Backstage">
        <input id="Backstage" type="button" value="回後台" style="width: 60px; height: 30px; font-size: 15px; background-color: #874141; color: #ffffff; border-radius: 10px; border: none " />
    </a>
</div><br>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TDesk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TTotal)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TDesk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TTotal)
            </td>
        </tr>
}
    </tbody>
</table>
